@using CustomIdentity.ViewModels;
@model LoginVM

@{
    ViewData["Title"] = "Login";
}

    <div class="body_layout">
        <div class="logform_body">
            <div class="container">
                <div class="form-container sign-in-container">
                    <form asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <h1>PŘIHLÁSIT</h1>
                        <input type="text" placeholder="Username" asp-for="Username"/>
                        <span asp-validation-for="Username"></span>
                        <input type="password" placeholder="Heslo" asp-for="Password"/>
                        <span asp-validation-for="Password"></span>
                        <input class="form_checkbox" asp-for="RememberMe"  /> @Html.DisplayNameFor(a=>a.RememberMe)
                        <a class="logform_body_a" href="#">Zapomněl jsi heslo?</a>
                        <button class="logform_action_button" type="submit"><b>PŘIHLÁSIT</b></button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <h1>JSI TU PRVNĚ?</h1>
                            <p>Pokud ještě nemáš účet, klikni na tlačítko dole a registruj se!</p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">

                                <button class="logform_site_button">
                                    <b>REGISTROVAT</b>

                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
<div class="form_flex">
    <div class="form">
        <h2 class="form_name">Přihlášení</h2>
        <form class="form_space" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div class="text-danger" asp-validation-summary="ModelOnly" ></div>
            <div class="form_div">
                <label class="form_label" asp-for="Username" ></label>
                <input class="form_input" asp-for="Username"  />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form_div">
                <label class="form_label" asp-for="Password" ></label>
                <input class="form_input" asp-for="Password"  />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form_div">
                <label class="form_label">
                    <input class="form_checkbox" asp-for="RememberMe"  /> @Html.DisplayNameFor(a=>a.RememberMe)
                </label>
            </div>
            <div class="form_div">
                <div class="form_link">
                    <a class="form_link" asp-action="Register"  asp-route-returnurl="@ViewData["ReturnUrl"]">Nemáš účet? Přihlaš se!</a>
                </div>
                <div class="form_submit">
                    <input class="form_submit" type="submit" value="Přihlásit" />
                </div>
            </div>
        </form>
    </div>
</div>
-->
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}